<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.victorgabriel.voaurora">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/foto_dois"
        android:label="@string/app_name"
        android:roundIcon="@drawable/foto_dois"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity
            android:name=".ini"
            android:label="@string/title_activity_ini"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".card" />
        <activity
            android:name=".cad"
            android:label="@string/title_activity_cad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ped"></activity>
    </application>

</manifest>